@page "/Task"
@model TaskManagement.Web.Pages.Task.IndexModel
@{
}

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" href="/Task/Create">Add New Task</a>
    </div>
</div>

<table class="table" id="userTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TaskData)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Priority</td>
                <td>@item.DueDate.ToString("yyyy-MM-dd")</td>

                @{
                    var completionPercentage = item.ProgressPercentage;
                    string progressBarColor;
                }


                @if (completionPercentage < 25)
                {
                    progressBarColor = "bg-danger";
                }
                else if (completionPercentage < 75)
                {
                    progressBarColor = "bg-warning";
                }
                else
                {
                    progressBarColor = "bg-success";
                }

                <td>
                    <div class="progress">
                        <div class="progress-bar @progressBarColor" role="progressbar" style="width: @completionPercentage%;" aria-valuenow="@completionPercentage" aria-valuemin="0" aria-valuemax="100">
                            @completionPercentage.ToString("0")%
                        </div>
                    </div>
                </td>

                <td>@item.Status</td>

                <td style="white-space:nowrap">
                    <a href="/Task/Edit?id=@item.TaskID" class="btn btn-info">Edit</a>
                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                paging: true,
                searching: true
            });
        });
    </script>
}